*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Segoe UI", " Roboto", "Helvetica Neue", Arial;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html:focus-within {
    scroll-behavior: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: linear-gradient(180grad, #4c4c4c, #010101);
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #161519;
  padding: 1em 0;
  color: #ffff;
  box-shadow: 0px 20px 20px 5px rgb(18 11 11 / 56%);
}

.header-contenido {
  width: min(80%, 1100px);
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.logo img {
  width: 4em;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0px 11px 20px 5px rgba(118, 118, 118, 0.118);
}

/* icono del menu */

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: absolute;
  background-color: #161519;
  top: 6em;
  right: 0;
  width: 10em;
  padding: 1em;
  text-align: center;
  box-shadow: 0px 20px 20px 5px rgb(18 11 11 / 56%);
  border-radius: 0 0 0 15px;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: transparent;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  right: 2em;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* lista del nav */
.list__menu {
  list-style: none;
  padding: 0;
}

.list__menu--element {
  margin-top: 1rem;
}

.list__menu--element a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.list__menu--secundary {
  margin-top: 2rem;
}

.list__menu-element--buttom {
  background-color: #a59678;
  color: #fff;
  padding: 0.3em 2em;
  border-radius: 100px;
}

main {
  width: min(80%, 1100px);
  margin: auto;
  display: grid;
  gap: 2em;
}

.l-principal{
    margin-block: 2em;
}

.c-inicio{
    display: grid;
    gap: 1.5em;
    text-align: center;
    align-items: center;
    color: #ffff;
}
.titulo_inicio{
    line-height: 1;
    text-transform: uppercase;
    text-shadow: -2px 8px 4px rgb(0 0 0);
}
.slogan_inicio{
    opacity: 0.5;
}

.agenda_cita{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5em 2em;
    background-color: #D9AD44;
    font-weight: 700;
    border-radius: 0.5em;
}